import {  {{componentName}}Props } from './types';
import styles from './{{componentName}}.module.css';

function {{componentName}}({
  
}: {{componentName}}Props) {
 
  return (
    <div className={styles['{{camelCase componentName}}']}>
  
    </div>
  );
}

export { {{componentName}} };
